<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--<appender name="AUDITFILE"  class="ch.qos.logback.core.FileAppender">-->
        <!--<file>auditLoggs.log</file>-->
        <!--<append>true</append>-->
        <!--<level>info</level>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->
    <!---->
    <!--<logger name="auditLogger" class="ch.qos.logback.classic.Logger" additivity="false">-->
        <!--<appender-ref ref="AUDITFILE"/>-->
    <!--</logger>-->
    <!--<logger name="camelLogger" class="ch.qos.logback.classic.Logger" additivity="false">-->
          <!--<appender ref="CAMElFILEAPPENDER"/>-->
    <!--</logger>-->

    <!--<appender name="CAMElFILEAPPENDER"  class="ch.qos.logback.core.FileAppender">-->
        <!--<file>camelLoggs.log</file>-->
        <!--<append>true</append>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->



    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="chapters.configuration" level="DEBUG"/>
    <!--<appender name="FILEAPPENDER"  class="ch.qos.logback.core.FileAppender">-->
        <!--<file>loggs.log</file>-->
        <!--<append>true</append>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--<root level="DEBUG">-->
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="FILEAPPENDER"/>-->
    <!--</root>-->
    <logger name="org.springframework" additivity="false" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>